<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    Id="1"
    photoCover="https://placehold.co/900x600?text=1ºLink"
    cardTitle="Veja a 1ª Playlist!"
    cardDescription="Boas Indicações pra você!"
    >
    </app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
    Id="2"
    photoCover="https://placehold.co/1920x1080?text=2ºLink"
    cardTitle="Veja a 2ª Playlist!"
    ></app-small-card>

    <app-small-card
    Id="3"
    photoCover="https://placehold.co/1920x1080?text=3ºLink"
    cardTitle="Veja a 3º Playlist!"
    ></app-small-card>

    <app-small-card
    Id="4"
    photoCover="https://placehold.co/1920x1080?text=4ºLink"
    cardTitle="Veja a 4ª Playlist!"
    ></app-small-card>
  </div>
</div>
